@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(350%);
  }
}

.animate-shimmer {
  animation: shimmer 2.5s infinite linear;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato-next), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-poppins: var(--font-poppins-next), ui-sans-serif, sans-serif;
  --font-lato: var(--font-lato-next), ui-sans-serif, sans-serif;
  --font-comfortaa: var(--font-comfortaa-next), ui-sans-serif, sans-serif;
  --font-delius: "Delius", cursive;
  --font-funnel: "Funnel Display", sans-serif;
  --font-bitcount: var(--font-bitcount-next), ui-monospace, monospace;
  --font-hindi: var(--font-hindi-next), ui-sans-serif, sans-serif;
}

  

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato-next), Arial, Helvetica, sans-serif;
}
